@model IEnumerable<EntityFrameworkDBFirstApproach.tbl_Emp>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Emp_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Emp_Age)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Emp_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Emp_Age)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Emp_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.Emp_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Emp_ID })
        </td>
    </tr>
}

</table>
